{% extends 'layout.html' %}

{% block main %}
    <div class="num-main">
        <div class="container">
            <div class="row">
                {% for coin in object_list %}
                    <div class="col-md-3">
                        <div class="coin-image">
                            <img src="{{coin.mycoinimage_set.all.first.image.url }}">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="coin-title">{{ coin.coin.country.name }} {{ coin.coin.title }} {{ coin.year }} г.</div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}