.num-header {
    background-color: cornflowerblue;
    color: white;
}

.num-header .container .nav-link {
    display: block;
    padding: .5em 1em;
    color: white;
}

.num-header .container .nav-link:hover {
    display: block;
    padding: .5em 1em;
    color: #0275d8;
}

.num-title {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}

.my-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.num-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .my-title {
    font-size: 3.5rem;
  }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.num-main {
    padding-top: 50px;
}

.coin-image img {
    width: 120px;
    margin: 3px;
}

.coin-image-detail img {
    width: 100%;
    margin: 3px;
}

.coin-title {

}
